[submodule "worker"]
	path = worker
	url = https://github.com/d53dave/cgopt-worker.git
[submodule "msgqueue"]
	path = msgqueue
	url = https://github.com/d53dave/cgopt-zmq.git
[submodule "cgopt-model"]
	path = cgopt-model
	url = https://github.com/d53dave/cgopt-model
[submodule "model"]
	path = model
	url = https://github.com/d53dave/cgopt-model
