[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]
pytest = "*"
pytest-cov = "*"
Sphinx = "*"
sphinxcontrib-napoleon = "*"
coverage = "*"
coveralls = "*"
mypy = "*"
bumpversion = "*"
flake8 = "*"
pytest-timeout = "*"
pytest-mock = "*"

[packages]
pyhocon = "*"
boto3 = "*"
arrow = "*"
click = "*"
requests = "*"
pyzmq = "*"
ujson = "*"
docker = "*"
